.header__cover-color{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  height: 25px;
}

.dialog__header {
  display: flex;
  position: relative;
  width: 100%;
  color: rgba($color: #313131, $alpha: .80);


  i {
    position: absolute;
    left: 0px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    
  }

  button {
    position: absolute;
    right: -5px;
    top: 10px;
    padding: 10px;
    background-color: #fff;
    border: none;
    i {
      top: 0px;
      font-size: 20px;
      color: rgba($color: #313131, $alpha: .50);
    }

    &:focus {
      outline: none;
    }
    &:hover {
      i {
        color: rgba($color: #313131, $alpha: 1);
      }
    }
  }

  .textarea {
    font-size: 18px;
    margin-top: 10px ;
    padding: 0 10px !important;
    margin-left: 25px;
    margin-right: 35px;
    background-color: #fff;
    &:focus {
      border: none;
      outline: 2px solid rgba(28,110,164,0.35);
    }
  }


}
