@import '../../scss/var';
.window {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100000;
  cursor: default;
  .dialog {
    position: relative;
    width: 650px;
    min-height: 90vh;
    margin: 35px auto;
    background-color: #ffff;
    padding: 20px;
    &__col {
      display: flex;
      position: relative;
      margin-left: 35px;
      margin-top: 15px;

      .left {
        width: 70%;
      }

      .right {
        width: 25%;
        margin: 0 auto;
      }
    }
  }
}