@import '../../scss/var';
.window {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: $border-radius;
  z-index: 100000;
  cursor: default;
  .dialog {
    width: 650px;
    height: 90%;
    margin: 35px auto;
    background-color: #ffff;
    padding: 20px;


    &__col {
      display: flex;
      position: relative;
      margin-left: 35px;
      margin-top: 15px;

      .left {
        width: 70%;
      }

      .right {
        width: 25%;
        margin: 0 auto;
      }
    }
  }
}