@import '../../scss/var';
.block {
  
  .textarea {
    background-color: #fff;
    border-radius: $border-radius;
    margin: 5px 0;
    padding: 5px;
    font-size: 15px;
    overflow: hidden;
    box-shadow: $box-shadow;

    &:focus {
      border: none;
      outline: 2px solid rgba(28,110,164,0.35);
    }
  }
}