$header-height: 50px;

$list-background-color: #ebecf0;

$border-radius: 3px;
$box-shadow: 0 1px 0 rgba(9,30,66,.25);

$box-shadow-text: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 22px 10px rgba(0,0,0,0);


$font-color: #2c2c2c;